@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #004d40;
}

/* ----------------------- */
/* --------- App --------- */
/* ----------------------- */

header {
  padding-top: 20px;
  text-align: center;
}
.AppLogo {
  display: inline-block;
  max-width: 120px;
}
.AppTitle {
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}
.AppTitle small {
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.AppFilter {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 30px;
}
.AppFilter li {
  font-size: 12px;
  display: inline;
  margin: 5px;
  padding: 5px 15px;
  background: #1d1d1d;
  border-radius: 20px;
  background: #e0f2f1;
}
.AppFilter li a {
  color: #00796b;
  text-decoration: none;
}
.App {
  font-size: 13px;
}
footer {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
footer i {
  color: #eb5569;
}

/* ----------------------- */
/* ------- Mobile -------- */
/* ----------------------- */
 
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .AppTitle {
    display: block;
    padding: 10px;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  
    
}