<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="../assets/favicon.ico" />
  <title>COVID-19 | Add Resource</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link href="../assets/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <img src='../assets/virus.svg' alt="COVID-19" class="AppLogo" />
    <h1 class="AppTitle">COVID-19 <small>Add new resource to the list</small></h1>
  </header>
  <nav>
    <ul class="AppFilter list-unstyled">
      <li>
        <a href="http://covid-19-resources.netlify.com/">
          <i class="fa fa-link"></i>&nbsp;&nbsp;View the list
        </a>
      </li>
    </ul>
  </nav>
  {{{body}}}
  <footer>
    Created with <i class="fa fa-heart"></i> by <a href="https://biuni.it">Biuni</a><br />
    <small>Virus icon by <a href="https://www.flaticon.com/">Flaticon</a></small>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
</body>
</html>