<div class="App container">

  {{#if status}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Well done! The link was insert into database and now is under revision!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  {{/if}}

<form action="/add" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Title">Title</label>
      <input type="text" class="form-control" id="Title" name="title" required>
    </div>
    <div class="form-group col-md-6">
      <label for="Title">Country</label><br />
      <select class="selectpicker" data-live-search="true" name="country">
        <option value="zz - Global" data-tokens="Global">🌍 Global</option>
        <option value="af - Afghanistan" data-tokens="Afghanistan">🇦🇫 Afghanistan</option>
        <option value="ax - Åland Islands" data-tokens="Åland Islands">🇦🇽 Åland Islands</option>
        <option value="al - Albania" data-tokens="Albania">🇦🇱 Albania</option>
        <option value="dz - Algeria" data-tokens="Algeria">🇩🇿 Algeria</option>
        <option value="as - American Samoa" data-tokens="American Samoa">🇦🇸 American Samoa</option>
        <option value="ad - Andorra" data-tokens="Andorra">🇦🇩 Andorra</option>
        <option value="ao - Angola" data-tokens="Angola">🇦🇴 Angola</option>
        <option value="ai - Anguilla" data-tokens="Anguilla">🇦🇮 Anguilla</option>
        <option value="aq - Antarctica" data-tokens="Antarctica">🇦🇶 Antarctica</option>
        <option value="ag - Antigua and Barbuda" data-tokens="Antigua and Barbuda">🇦🇬 Antigua and Barbuda</option>
        <option value="ar - Argentina" data-tokens="Argentina">🇦🇷 Argentina</option>
        <option value="am - Armenia" data-tokens="Armenia">🇦🇲 Armenia</option>
        <option value="aw - Aruba" data-tokens="Aruba">🇦🇼 Aruba</option>
        <option value="au - Australia" data-tokens="Australia">🇦🇺 Australia</option>
        <option value="at - Austria" data-tokens="Austria">🇦🇹 Austria</option>
        <option value="az - Azerbaijan" data-tokens="Azerbaijan">🇦🇿 Azerbaijan</option>
        <option value="bs - Bahamas" data-tokens="Bahamas">🇧🇸 Bahamas</option>
        <option value="bh - Bahrain" data-tokens="Bahrain">🇧🇭 Bahrain</option>
        <option value="bd - Bangladesh" data-tokens="Bangladesh">🇧🇩 Bangladesh</option>
        <option value="bb - Barbados" data-tokens="Barbados">🇧🇧 Barbados</option>
        <option value="by - Belarus" data-tokens="Belarus">🇧🇾 Belarus</option>
        <option value="be - Belgium" data-tokens="Belgium">🇧🇪 Belgium</option>
        <option value="bz - Belize" data-tokens="Belize">🇧🇿 Belize</option>
        <option value="bj - Benin" data-tokens="Benin">🇧🇯 Benin</option>
        <option value="bm - Bermuda" data-tokens="Bermuda">🇧🇲 Bermuda</option>
        <option value="bt - Bhutan" data-tokens="Bhutan">🇧🇹 Bhutan</option>
        <option value="bo - Bolivia" data-tokens="Bolivia">🇧🇴 Bolivia</option>
        <option value="ba - Bosnia and Herzegovina" data-tokens="Bosnia and Herzegovina">🇧🇦 Bosnia and Herzegovina</option>
        <option value="bw - Botswana" data-tokens="Botswana">🇧🇼 Botswana</option>
        <option value="bv - Bouvet Island" data-tokens="Bouvet Island">🇧🇻 Bouvet Island</option>
        <option value="br - Brazil" data-tokens="Brazil">🇧🇷 Brazil</option>
        <option value="io - British Indian Ocean Territory" data-tokens="British Indian Ocean Territory">🇮🇴 British Indian
          Ocean Territory</option>
        <option value="bn - Brunei Darussalam" data-tokens="Brunei Darussalam">🇧🇳 Brunei Darussalam</option>
        <option value="bg - Bulgaria" data-tokens="Bulgaria">🇧🇬 Bulgaria</option>
        <option value="bf - Burkina Faso" data-tokens="Burkina Faso">🇧🇫 Burkina Faso</option>
        <option value="bi - Burundi" data-tokens="Burundi">🇧🇮 Burundi</option>
        <option value="kh - Cambodia" data-tokens="Cambodia">🇰🇭 Cambodia</option>
        <option value="cm - Cameroon" data-tokens="Cameroon">🇨🇲 Cameroon</option>
        <option value="ca - Canada" data-tokens="Canada">🇨🇦 Canada</option>
        <option value="cv - Cape Verde" data-tokens="Cape Verde">🇨🇻 Cape Verde</option>
        <option value="ky - Cayman Islands" data-tokens="Cayman Islands">🇰🇾 Cayman Islands</option>
        <option value="cf - Central African Republic" data-tokens="Central African Republic">🇨🇫 Central African Republic
        </option>
        <option value="td - Chad" data-tokens="Chad">🇹🇩 Chad</option>
        <option value="cl - Chile" data-tokens="Chile">🇨🇱 Chile</option>
        <option value="cn - China" data-tokens="China">🇨🇳 China</option>
        <option value="cx - Christmas Island" data-tokens="Christmas Island">🇨🇽 Christmas Island</option>
        <option value="cc - Cocos (Keeling) Islands" data-tokens="Cocos (Keeling) Islands">🇨🇨 Cocos (Keeling) Islands</option>
        <option value="co - Colombia" data-tokens="Colombia">🇨🇴 Colombia</option>
        <option value="km - Comoros" data-tokens="Comoros">🇰🇲 Comoros</option>
        <option value="cg - Congo" data-tokens="Congo">🇨🇬 Congo</option>
        <option value="cd - Congo" data-tokens="Congo">🇨🇩 Congo</option>
        <option value="ck - Cook Islands" data-tokens="Cook Islands">🇨🇰 Cook Islands</option>
        <option value="cr - Costa Rica" data-tokens="Costa Rica">🇨🇷 Costa Rica</option>
        <option value="ci - Côte d'Ivoire" data-tokens="Côte d'Ivoire">🇨🇮 Côte d'Ivoire</option>
        <option value="hr - Croatia" data-tokens="Croatia">🇭🇷 Croatia</option>
        <option value="cu - Cuba" data-tokens="Cuba">🇨🇺 Cuba</option>
        <option value="cw - Curaçao" data-tokens="Curaçao">🇨🇼 Curaçao</option>
        <option value="cy - Cyprus" data-tokens="Cyprus">🇨🇾 Cyprus</option>
        <option value="cz - Czech Republic" data-tokens="Czech Republic">🇨🇿 Czech Republic</option>
        <option value="dk - Denmark" data-tokens="Denmark">🇩🇰 Denmark</option>
        <option value="dj - Djibouti" data-tokens="Djibouti">🇩🇯 Djibouti</option>
        <option value="dm - Dominica" data-tokens="Dominica">🇩🇲 Dominica</option>
        <option value="do - Dominican Republic" data-tokens="Dominican Republic">🇩🇴 Dominican Republic</option>
        <option value="ec - Ecuador" data-tokens="Ecuador">🇪🇨 Ecuador</option>
        <option value="eg - Egypt" data-tokens="Egypt">🇪🇬 Egypt</option>
        <option value="sv - El Salvador" data-tokens="El Salvador">🇸🇻 El Salvador</option>
        <option value="gq - Equatorial Guinea" data-tokens="Equatorial Guinea">🇬🇶 Equatorial Guinea</option>
        <option value="er - Eritrea" data-tokens="Eritrea">🇪🇷 Eritrea</option>
        <option value="ee - Estonia" data-tokens="Estonia">🇪🇪 Estonia</option>
        <option value="et - Ethiopia" data-tokens="Ethiopia">🇪🇹 Ethiopia</option>
        <option value="eu - European Union" data-tokens="European Union">🇪🇺 European Union</option>
        <option value="fk - Falkland Islands (Malvinas)" data-tokens="Falkland Islands (Malvinas)">🇫🇰 Falkland Islands
          (Malvinas)</option>
        <option value="fo - Faroe Islands" data-tokens="Faroe Islands">🇫🇴 Faroe Islands</option>
        <option value="fj - Fiji" data-tokens="Fiji">🇫🇯 Fiji</option>
        <option value="fi - Finland" data-tokens="Finland">🇫🇮 Finland</option>
        <option value="fr - France" data-tokens="France">🇫🇷 France</option>
        <option value="gf - French Guiana" data-tokens="French Guiana">🇬🇫 French Guiana</option>
        <option value="pf - French Polynesia" data-tokens="French Polynesia">🇵🇫 French Polynesia</option>
        <option value="ga - Gabon" data-tokens="Gabon">🇬🇦 Gabon</option>
        <option value="gm - Gambia" data-tokens="Gambia">🇬🇲 Gambia</option>
        <option value="ge - Georgia" data-tokens="Georgia">🇬🇪 Georgia</option>
        <option value="de - Germany" data-tokens="Germany">🇩🇪 Germany</option>
        <option value="gh - Ghana" data-tokens="Ghana">🇬🇭 Ghana</option>
        <option value="gi - Gibraltar" data-tokens="Gibraltar">🇬🇮 Gibraltar</option>
        <option value="gr - Greece" data-tokens="Greece">🇬🇷 Greece</option>
        <option value="gl - Greenland" data-tokens="Greenland">🇬🇱 Greenland</option>
        <option value="gd - Grenada" data-tokens="Grenada">🇬🇩 Grenada</option>
        <option value="gp - Guadeloupe" data-tokens="Guadeloupe">🇬🇵 Guadeloupe</option>
        <option value="gu - Guam" data-tokens="Guam">🇬🇺 Guam</option>
        <option value="gt - Guatemala" data-tokens="Guatemala">🇬🇹 Guatemala</option>
        <option value="gg - Guernsey" data-tokens="Guernsey">🇬🇬 Guernsey</option>
        <option value="gn - Guinea" data-tokens="Guinea">🇬🇳 Guinea</option>
        <option value="gw - Guinea-Bissau" data-tokens="Guinea-Bissau">🇬🇼 Guinea-Bissau</option>
        <option value="gy - Guyana" data-tokens="Guyana">🇬🇾 Guyana</option>
        <option value="ht - Haiti" data-tokens="Haiti">🇭🇹 Haiti</option>
        <option value="hm - Heard Island and McDonald Islands" data-tokens="Heard Island and McDonald Islands">🇭🇲 Heard Island
          and McDonald Islands</option>
        <option value="va - Holy See (Vatican City State)" data-tokens="Holy See (Vatican City State)">🇻🇦 Holy See (Vatican
          City State)</option>
        <option value="hn - Honduras" data-tokens="Honduras">🇭🇳 Honduras</option>
        <option value="hk - Hong Kong" data-tokens="Hong Kong">🇭🇰 Hong Kong</option>
        <option value="hu - Hungary" data-tokens="Hungary">🇭🇺 Hungary</option>
        <option value="is - Iceland" data-tokens="Iceland">🇮🇸 Iceland</option>
        <option value="in - India" data-tokens="India">🇮🇳 India</option>
        <option value="id - Indonesia" data-tokens="Indonesia">🇮🇩 Indonesia</option>
        <option value="ir - Iran" data-tokens="Iran">🇮🇷 Iran</option>
        <option value="iq - Iraq" data-tokens="Iraq">🇮🇶 Iraq</option>
        <option value="ie - Ireland" data-tokens="Ireland">🇮🇪 Ireland</option>
        <option value="im - Isle of Man" data-tokens="Isle of Man">🇮🇲 Isle of Man</option>
        <option value="il - Israel" data-tokens="Israel">🇮🇱 Israel</option>
        <option value="it - Italy" data-tokens="Italy">🇮🇹 Italy</option>
        <option value="jm - Jamaica" data-tokens="Jamaica">🇯🇲 Jamaica</option>
        <option value="jp - Japan" data-tokens="Japan">🇯🇵 Japan</option>
        <option value="je - Jersey" data-tokens="Jersey">🇯🇪 Jersey</option>
        <option value="jo - Jordan" data-tokens="Jordan">🇯🇴 Jordan</option>
        <option value="kz - Kazakhstan" data-tokens="Kazakhstan">🇰🇿 Kazakhstan</option>
        <option value="ke - Kenya" data-tokens="Kenya">🇰🇪 Kenya</option>
        <option value="ki - Kiribati" data-tokens="Kiribati">🇰🇮 Kiribati</option>
        <option value="kp - North Korea" data-tokens="North Korea">🇰🇵 North Korea</option>
        <option value="kr - South Korea" data-tokens="South Korea">🇰🇷 South Korea</option>
        <option value="kw - Kuwait" data-tokens="Kuwait">🇰🇼 Kuwait</option>
        <option value="kg - Kyrgyzstan" data-tokens="Kyrgyzstan">🇰🇬 Kyrgyzstan</option>
        <option value="la - Lao People's Democratic Republic" data-tokens="Lao People's Democratic Republic">🇱🇦 Lao People's
          Democratic Republic</option>
        <option value="lv - Latvia" data-tokens="Latvia">🇱🇻 Latvia</option>
        <option value="lb - Lebanon" data-tokens="Lebanon">🇱🇧 Lebanon</option>
        <option value="ls - Lesotho" data-tokens="Lesotho">🇱🇸 Lesotho</option>
        <option value="lr - Liberia" data-tokens="Liberia">🇱🇷 Liberia</option>
        <option value="ly - Libya" data-tokens="Libya">🇱🇾 Libya</option>
        <option value="li - Liechtenstein" data-tokens="Liechtenstein">🇱🇮 Liechtenstein</option>
        <option value="lt - Lithuania" data-tokens="Lithuania">🇱🇹 Lithuania</option>
        <option value="lu - Luxembourg" data-tokens="Luxembourg">🇱🇺 Luxembourg</option>
        <option value="mo - Macao" data-tokens="Macao">🇲🇴 Macao</option>
        <option value="mk - Macedonia" data-tokens="Macedonia">🇲🇰 Macedonia</option>
        <option value="mg - Madagascar" data-tokens="Madagascar">🇲🇬 Madagascar</option>
        <option value="mw - Malawi" data-tokens="Malawi">🇲🇼 Malawi</option>
        <option value="my - Malaysia" data-tokens="Malaysia">🇲🇾 Malaysia</option>
        <option value="mv - Maldives" data-tokens="Maldives">🇲🇻 Maldives</option>
        <option value="ml - Mali" data-tokens="Mali">🇲🇱 Mali</option>
        <option value="mt - Malta" data-tokens="Malta">🇲🇹 Malta</option>
        <option value="mh - Marshall Islands" data-tokens="Marshall Islands">🇲🇭 Marshall Islands</option>
        <option value="mr - Mauritania" data-tokens="Mauritania">🇲🇷 Mauritania</option>
        <option value="mu - Mauritius" data-tokens="Mauritius">🇲🇺 Mauritius</option>
        <option value="yt - Mayotte" data-tokens="Mayotte">🇾🇹 Mayotte</option>
        <option value="mx - Mexico" data-tokens="Mexico">🇲🇽 Mexico</option>
        <option value="fm - Micronesia" data-tokens="Micronesia">🇫🇲 Micronesia</option>
        <option value="md - Moldova" data-tokens="Moldova">🇲🇩 Moldova</option>
        <option value="mc - Monaco" data-tokens="Monaco">🇲🇨 Monaco</option>
        <option value="mn - Mongolia" data-tokens="Mongolia">🇲🇳 Mongolia</option>
        <option value="me - Montenegro" data-tokens="Montenegro">🇲🇪 Montenegro</option>
        <option value="ms - Montserrat" data-tokens="Montserrat">🇲🇸 Montserrat</option>
        <option value="ma - Morocco" data-tokens="Morocco">🇲🇦 Morocco</option>
        <option value="mz - Mozambique" data-tokens="Mozambique">🇲🇿 Mozambique</option>
        <option value="mm - Myanmar" data-tokens="Myanmar">🇲🇲 Myanmar</option>
        <option value="na - Namibia" data-tokens="Namibia">🇳🇦 Namibia</option>
        <option value="nr - Nauru" data-tokens="Nauru">🇳🇷 Nauru</option>
        <option value="np - Nepal" data-tokens="Nepal">🇳🇵 Nepal</option>
        <option value="nl - Netherlands" data-tokens="Netherlands">🇳🇱 Netherlands</option>
        <option value="nc - New Caledonia" data-tokens="New Caledonia">🇳🇨 New Caledonia</option>
        <option value="nz - New Zealand" data-tokens="New Zealand">🇳🇿 New Zealand</option>
        <option value="ni - Nicaragua" data-tokens="Nicaragua">🇳🇮 Nicaragua</option>
        <option value="ne - Niger" data-tokens="Niger">🇳🇪 Niger</option>
        <option value="ng - Nigeria" data-tokens="Nigeria">🇳🇬 Nigeria</option>
        <option value="nu - Niue" data-tokens="Niue">🇳🇺 Niue</option>
        <option value="nf - Norfolk Island" data-tokens="Norfolk Island">🇳🇫 Norfolk Island</option>
        <option value="mp - Northern Mariana Islands" data-tokens="Northern Mariana Islands">🇲🇵 Northern Mariana Islands
        </option>
        <option value="no - Norway" data-tokens="Norway">🇳🇴 Norway</option>
        <option value="om - Oman" data-tokens="Oman">🇴🇲 Oman</option>
        <option value="pk - Pakistan" data-tokens="Pakistan">🇵🇰 Pakistan</option>
        <option value="pw - Palau" data-tokens="Palau">🇵🇼 Palau</option>
        <option value="ps - Palestine" data-tokens="Palestine">🇵🇸 Palestine</option>
        <option value="pa - Panama" data-tokens="Panama">🇵🇦 Panama</option>
        <option value="pg - Papua New Guinea" data-tokens="Papua New Guinea">🇵🇬 Papua New Guinea</option>
        <option value="py - Paraguay" data-tokens="Paraguay">🇵🇾 Paraguay</option>
        <option value="pe - Peru" data-tokens="Peru">🇵🇪 Peru</option>
        <option value="ph - Philippines" data-tokens="Philippines">🇵🇭 Philippines</option>
        <option value="pn - Pitcairn" data-tokens="Pitcairn">🇵🇳 Pitcairn</option>
        <option value="pl - Poland" data-tokens="Poland">🇵🇱 Poland</option>
        <option value="pt - Portugal" data-tokens="Portugal">🇵🇹 Portugal</option>
        <option value="pr - Puerto Rico" data-tokens="Puerto Rico">🇵🇷 Puerto Rico</option>
        <option value="qa - Qatar" data-tokens="Qatar">🇶🇦 Qatar</option>
        <option value="ro - Romania" data-tokens="Romania">🇷🇴 Romania</option>
        <option value="ru - Russian Federation" data-tokens="Russian Federation">🇷🇺 Russian Federation</option>
        <option value="rw - Rwanda" data-tokens="Rwanda">🇷🇼 Rwanda</option>
        <option value="sh - Saint Helena, Ascension and Tristan da Cunha"
          data-tokens="Saint Helena, Ascension and Tristan da Cunha">🇸🇭 Saint Helena, Ascension and Tristan da Cunha</option>
        <option value="kn - Saint Kitts and Nevis" data-tokens="Saint Kitts and Nevis">🇰🇳 Saint Kitts and Nevis</option>
        <option value="lc - Saint Lucia" data-tokens="Saint Lucia">🇱🇨 Saint Lucia</option>
        <option value="mf - Saint Martin (French part)" data-tokens="Saint Martin (French part)">🇲🇫 Saint Martin (French part)
        </option>
        <option value="pm - Saint Pierre and Miquelon" data-tokens="Saint Pierre and Miquelon">🇵🇲 Saint Pierre and Miquelon
        </option>
        <option value="vc - Saint Vincent and the Grenadines" data-tokens="Saint Vincent and the Grenadines">🇻🇨 Saint Vincent
          and the Grenadines</option>
        <option value="ws - Samoa" data-tokens="Samoa">🇼🇸 Samoa</option>
        <option value="sm - San Marino" data-tokens="San Marino">🇸🇲 San Marino</option>
        <option value="st - Sao Tome and Principe" data-tokens="Sao Tome and Principe">🇸🇹 Sao Tome and Principe</option>
        <option value="sa - Saudi Arabia" data-tokens="Saudi Arabia">🇸🇦 Saudi Arabia</option>
        <option value="sn - Senegal" data-tokens="Senegal">🇸🇳 Senegal</option>
        <option value="rs - Serbia" data-tokens="Serbia">🇷🇸 Serbia</option>
        <option value="sc - Seychelles" data-tokens="Seychelles">🇸🇨 Seychelles</option>
        <option value="sl - Sierra Leone" data-tokens="Sierra Leone">🇸🇱 Sierra Leone</option>
        <option value="sg - Singapore" data-tokens="Singapore">🇸🇬 Singapore</option>
        <option value="sx - Sint Maarten (Dutch part)" data-tokens="Sint Maarten (Dutch part)">🇸🇽 Sint Maarten (Dutch part)
        </option>
        <option value="sk - Slovakia" data-tokens="Slovakia">🇸🇰 Slovakia</option>
        <option value="si - Slovenia" data-tokens="Slovenia">🇸🇮 Slovenia</option>
        <option value="sb - Solomon Islands" data-tokens="Solomon Islands">🇸🇧 Solomon Islands</option>
        <option value="so - Somalia" data-tokens="Somalia">🇸🇴 Somalia</option>
        <option value="za - South Africa" data-tokens="South Africa">🇿🇦 South Africa</option>
        <option value="gs - South Georgia and the South Sandwich Islands"
          data-tokens="South Georgia and the South Sandwich Islands">🇬🇸 South Georgia and the South Sandwich Islands</option>
        <option value="ss - South Sudan" data-tokens="South Sudan">🇸🇸 South Sudan</option>
        <option value="es - Spain" data-tokens="Spain">🇪🇸 Spain</option>
        <option value="lk - Sri Lanka" data-tokens="Sri Lanka">🇱🇰 Sri Lanka</option>
        <option value="sd - Sudan" data-tokens="Sudan">🇸🇩 Sudan</option>
        <option value="sr - Suriname" data-tokens="Suriname">🇸🇷 Suriname</option>
        <option value="sj - Svalbard and Jan Mayen" data-tokens="Svalbard and Jan Mayen">🇸🇯 Svalbard and Jan Mayen</option>
        <option value="sz - Swaziland" data-tokens="Swaziland">🇸🇿 Swaziland</option>
        <option value="se - Sweden" data-tokens="Sweden">🇸🇪 Sweden</option>
        <option value="ch - Switzerland" data-tokens="Switzerland">🇨🇭 Switzerland</option>
        <option value="sy - Syrian Arab Republic" data-tokens="Syrian Arab Republic">🇸🇾 Syrian Arab Republic</option>
        <option value="tw - Taiwan" data-tokens="Taiwan">🇹🇼 Taiwan</option>
        <option value="tj - Tajikistan" data-tokens="Tajikistan">🇹🇯 Tajikistan</option>
        <option value="tz - Tanzania" data-tokens="Tanzania">🇹🇿 Tanzania</option>
        <option value="th - Thailand" data-tokens="Thailand">🇹🇭 Thailand</option>
        <option value="tl - Timor-Leste" data-tokens="Timor-Leste">🇹🇱 Timor-Leste</option>
        <option value="tg - Togo" data-tokens="Togo">🇹🇬 Togo</option>
        <option value="tk - Tokelau" data-tokens="Tokelau">🇹🇰 Tokelau</option>
        <option value="to - Tonga" data-tokens="Tonga">🇹🇴 Tonga</option>
        <option value="tt - Trinidad and Tobago" data-tokens="Trinidad and Tobago">🇹🇹 Trinidad and Tobago</option>
        <option value="tn - Tunisia" data-tokens="Tunisia">🇹🇳 Tunisia</option>
        <option value="tr - Turkey" data-tokens="Turkey">🇹🇷 Turkey</option>
        <option value="tm - Turkmenistan" data-tokens="Turkmenistan">🇹🇲 Turkmenistan</option>
        <option value="tc - Turks and Caicos Islands" data-tokens="Turks and Caicos Islands">🇹🇨 Turks and Caicos Islands
        </option>
        <option value="tv - Tuvalu" data-tokens="Tuvalu">🇹🇻 Tuvalu</option>
        <option value="ug - Uganda" data-tokens="Uganda">🇺🇬 Uganda</option>
        <option value="ua - Ukraine" data-tokens="Ukraine">🇺🇦 Ukraine</option>
        <option value="ae - United Arab Emirates" data-tokens="United Arab Emirates">🇦🇪 United Arab Emirates</option>
        <option value="gb - United Kingdom" data-tokens="United Kingdom">🇬🇧 United Kingdom</option>
        <option value="un - United Nations" data-tokens="United Nations">🇺🇳 United Nations</option>
        <option value="us - United States" data-tokens="United States">🇺🇸 United States</option>
        <option value="uy - Uruguay" data-tokens="Uruguay">🇺🇾 Uruguay</option>
        <option value="uz - Uzbekistan" data-tokens="Uzbekistan">🇺🇿 Uzbekistan</option>
        <option value="vu - Vanuatu" data-tokens="Vanuatu">🇻🇺 Vanuatu</option>
        <option value="ve - Venezuela" data-tokens="Venezuela">🇻🇪 Venezuela</option>
        <option value="vn - Vietnam" data-tokens="Vietnam">🇻🇳 Vietnam</option>
        <option value="vg - Virgin Islands, British" data-tokens="Virgin Islands, British">🇻🇬 Virgin Islands, British</option>
        <option value="vi - Virgin Islands, U.S." data-tokens="Virgin Islands, U.S.">🇻🇮 Virgin Islands, U.S.</option>
        <option value="wf - Wallis and Futuna" data-tokens="Wallis and Futuna">🇼🇫 Wallis and Futuna</option>
        <option value="eh - Western Sahara" data-tokens="Western Sahara">🇪🇭 Western Sahara</option>
        <option value="ye - Yemen" data-tokens="Yemen">🇾🇪 Yemen</option>
        <option value="zm - Zambia" data-tokens="Zambia">🇿🇲 Zambia</option>
        <option value="zw - Zimbabwe" data-tokens="Zimbabwe">🇿🇼 Zimbabwe</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input type="text" class="form-control" id="Description" name="description" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Link">Link</label>
      <input type="text" class="form-control" id="Link" name="link" required>
    </div>
    <div class="form-group col-md-6">
      <label for="Category">Category</label>
      <select id="Category" name="category" class="form-control">
        <option value="Dashboard">Dashboard</option>
        <option value="Data">Data</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

</div>